.git
.gitignore
.dockerignore
.env
.env.backup
.env.production
node_modules
npm-debug.log
yarn-error.log
storage/*.key
vendor
.phpunit.result.cache
Homestead.json
Homestead.lock
.DS_Store
Thumbs.db
*.log
public/storage
public/hot
public/build
php/
docker-compose.yml